body {
    min-width: 900px;
    margin: 0 auto;
    background: #fff;
    color: #1f205f;
    font: 20px/1.75 'Helvetica Neue', Arial, sans-serif;
}

#page {
    /*width: 800px;*/
    /*margin: 0 auto;*/
}

header {
    font-size: 35px;
    text-align: center;
    padding-top: 50px;
}

#logo {
    width: 100px;
    height: 100px;
    margin: 0 auto 30px;
    background: black;
}

header select {
    display: inline-block;
    margin: 0 5px;
    padding: 0 1em 0 .25em;
    background: #2c2e88 url('triangle.png') no-repeat 100% 53%;
    color: #fff;
    font: inherit;
    font-family: 'Helvetica Neue Light', 'HelveticaNeue-Light', Arial, sans-serif;
    border: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    outline: none;
    cursor: pointer;
}

header select[disabled] {
    opacity: .75;
    cursor: default;
}

#results {
    min-height: 345px;
    background: #bee8ff;
}

#results ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#results li {
    margin: 0;
    padding: 10px 15px;
}

#results li:nth-child(odd) {
    background: #e0f4ff;
}

#results time {
    display: inline-block;
    width: 55px;
}

#results small {
    display: block;
    line-height: 1.4;
    margin-left: 60px;
    opacity: .8;
}

#code {
    min-height: 800px;
    background: #2c2e88;
}

#code span,
#code pre {
    display: block;
    margin: 0 0 30px;
    padding: 10px 15px;
    background: #141558;
    color: #add4ff;
    font: 17px/1.5 Consolas, 'Lucida Console', monospace;
    word-break: break-all;
}

.block {
    width: 800px;
    margin: 0 auto;
    padding: 35px 0;
}

div.spinner {
    position: relative;
    width: 55px;
    height: 55px;
    display: block;
    margin: 30px auto;
}

div.spinner div {
    width: 12%;
    height: 30%;
    position: absolute;
    left: 44.5%;
    top: 37%;
    opacity: 0;
    -webkit-animation: fade 1s linear infinite;
    -webkit-border-radius: 50px;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

div.spinner div.bar1 {
    -webkit-transform: rotate(0deg) translate(0, -142%);
    -webkit-animation-delay: 0s;
}

div.spinner div.bar2 {
    -webkit-transform: rotate(30deg) translate(0, -142%);
    -webkit-animation-delay: -0.9167s;
}

div.spinner div.bar3 {
    -webkit-transform: rotate(60deg) translate(0, -142%);
    -webkit-animation-delay: -0.833s;
}

div.spinner div.bar4 {
    -webkit-transform: rotate(90deg) translate(0, -142%);
    -webkit-animation-delay: -0.75s;
}

div.spinner div.bar5 {
    -webkit-transform: rotate(120deg) translate(0, -142%);
    -webkit-animation-delay: -0.667s;
}

div.spinner div.bar6 {
    -webkit-transform: rotate(150deg) translate(0, -142%);
    -webkit-animation-delay: -0.5833s;
}

div.spinner div.bar7 {
    -webkit-transform: rotate(180deg) translate(0, -142%);
    -webkit-animation-delay: -0.5s;
}

div.spinner div.bar8 {
    -webkit-transform: rotate(210deg) translate(0, -142%);
    -webkit-animation-delay: -0.41667s;
}

div.spinner div.bar9 {
    -webkit-transform: rotate(240deg) translate(0, -142%);
    -webkit-animation-delay: -0.333s;
}

div.spinner div.bar10 {
    -webkit-transform: rotate(270deg) translate(0, -142%);
    -webkit-animation-delay: -0.25s;
}

div.spinner div.bar11 {
    -webkit-transform: rotate(300deg) translate(0, -142%);
    -webkit-animation-delay: -0.1667s;
}

div.spinner div.bar12 {
    -webkit-transform: rotate(330deg) translate(0, -142%);
    -webkit-animation-delay: -0.0833s;
}

@-webkit-keyframes fade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.25;
    }
}

#results .spinner div {
    background: #141558;
}